<section class="ui raised segment">
    <div class="ui grid">
        <table class="ui celled table segment">
            <thead>
            <tr>
                <th>Name</th>
                <th>Tweet</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody
            {{#each tweets}}
                <tr>
                    <td><a href="/followerProfile/{{sender._id}}">{{sender.firstName}} {{sender.lastName}}</a></td>
                    <td> {{message}}</td>
                    <td> {{dateFormat date}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</section>