<section class="ui raised segment">
    <div class="ui grid">
            <table class="ui celled table segment">
                <thead>
                <tr>
                {{#if logUser}}
                    <th>Name</th>
                    <th>Status</th>
                {{/if}}
                    {{#if adminUser}}
                        <th>Users</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    {{/if}}

                </tr>
                </thead>
                <tbody
                {{#each users}}
                    <tr>
                        {{#if ../logUser}}
                            <td> <a href="/publicUser/{{_id}}">{{firstName}} {{lastName}}</a></td>

                            <td> <a href="/follow/{{_id}}"><button class="ui blue submit button">Follow</button></a>
                        {{/if}}

                        {{#if ../adminUser}}
                            <td>{{firstName}} {{lastName}}</td>
                            <td> <a href="/editUser/{{_id}}"><i class="green edit icon"></i></a></td>
                            <td> <a href="/removeUser/{{_id}}"><i class="green remove icon"></i></a> </td>
                        {{/if}}

                    </tr>
                {{/each}}
                </tbody>
                    {{#if adminUser}}
                        <form action="/removeAllUsers" method="POST">
                            <button class="ui green button">Delete All Users</button>
                        </form>
                    {{/if}}
            </table>
            </div>
</section>