<section class="ui raised segment">
    <div class="ui grid">
        <article class="eight wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Tweet</th>
                    <th>Date</th>
                    <th>Delete</th>

                </tr>
                </thead>
                <tbody>
                {{#each tweets}}
                    <tr>
                        <td> {{message}}</td>
                        <td> {{dateFormat date}}</td>
                        {{#if ../adminUser}}
                            <td> <a href="/deleteAdminTweet/{{tweet._id}}"><i class="green remove icon"></i></a> </td>
                        {{/if}}
                        {{#if ../logUser}}
                            <td> <a href="/deleteTweet/{{tweet._id}}"><i class="blue remove icon"></i></a> </td>
                        {{/if}}
                    </tr>


                {{/each}}

                </tbody>
                {{#if logUser}}
                    <form action="/deleteAll" method="POST">
                        <button class="ui blue button">Delete All</button>
                    </form>
                {{/if}}

                {{#if adminUser}}
                    <form action="/deleteAllUserTweets/{{user._id}}" method="POST">
                        <button class="ui green button">Delete All</button>
                    </form>
                {{/if}}
            </table>
        </article>
    </div>
</section>