{{> mainmenu }}


<section class="ui raised segment">
    <div class="ui grid">
        <article class="eight wide column">
            {{#each user}}
              <h2>{{firstName}} {{lastName}}</h2>
            {{/each}}
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Tweet</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {{#each tweets}}
                    <tr>
                        <td> {{message}}
                            {{#if picture.data}}
                                <img src="/getPicture/{{_id}}" height="52" width="52" />
                            {{/if}}
                        </td>
                        <td> {{dateFormat date}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>

        </article>
    </div>
</section>